/* Reiniciar márgenes y rellenos, y asegurar box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

p {
    text-align: center;
    color: white;
}

.parallax {
    height: 100vh; /* Tamaño completo de la ventana */
    background-attachment: fixed; /* Parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-background-attachment: fixed; /* Chrome, Safari */
    -moz-background-attachment: fixed; /* Firefox */
    -o-background-attachment: fixed; /* Opera */
    background-attachment: fixed; /* Estándar */
}

/* Parallax específico para la sección 1 */
#parallax-1 {
    background-image: url('img/cloud.jpeg'); /* Reemplazar con tu imagen */
}

/* Parallax específico para la sección 2 */
#parallax-2 {
    background-image: url('img/big.jpeg'); /* Reemplazar con otra imagen */
}

.content-section {
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.content-section h2, .content-section p {
    color: #333;
}

.content {
    text-align: center;
    color: white;
    -webkit-animation: fadeIn 2s ease-out; /* Chrome, Safari */
    -moz-animation: fadeIn 2s ease-out; /* Firefox */
    -o-animation: fadeIn 2s ease-out; /* Opera */
    animation: fadeIn 2s ease-out; /* Estándar */
}

@-webkit-keyframes fadeIn { /* Chrome, Safari */
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeIn { /* Firefox */
    0% {
        opacity: 0;
        -moz-transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.centro {
    text-align: center;
}

.izquierda {
    text-align: left;
}

.derecha {
    text-align: right;
}

.negrita {
    font-weight: 900;
}

.justificado {
    text-align: justify;
}

.img {
    height: 180px;
    width: auto;
}
